#root {
  max-width: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Añado las clases para formatear la tabla*/

table {
  background-color: #2F4F4F;
  border-style: none;
  padding: 5px;
}

th,td {
  background-color: #FFFFFF;
  width: 320px;
  border-width: 0px;
  padding: 5px;
  color:#FF0000;
  text-align: center;
}


/* styles.css (or any other appropriate file) */

.container-general {
  width: 1900px; /* Adjust the minimum width as needed */
  margin: 0 auto; /* Center the container */
}

/* Add this CSS to your stylesheets or use a styling solution like styled-components */

.game-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* This ensures spacing between cards and even distribution */
}

/* Adjust the width based on your layout needs */
.game-card-list > * {
  width: calc(25% - 10px); /* 25% width for each card with 10px spacing */
  margin-bottom: 10px;
}


.scroll-up-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
  width: 30px; 

}

.scroll-up-button.visible {
  display: block;
  opacity: 1;
  width: 30px; 

}
